# dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
logs/
*.log

# macOS
.DS_Store
*.pem

# local env files & secrets
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# generated native folders
/ios
/android